{
  "extends": "airbnb-base",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {}
  },
  "rules": {
    "no-console": 0,
    "max-len": 0,
    "global-require": 0
  }
}
